.vs/GARC (De)Extractor/FileContentIndex/0864abc7-a7d0-4ce7-8fdf-193498191af6.vsidx
output/GARC__De_Extractor.exe
compile.bat
compile.json
build/GARC__De_Extractor/xref-GARC__De_Extractor.html
build/GARC__De_Extractor/warn-GARC__De_Extractor.txt
build/GARC__De_Extractor/PYZ-00.toc
*.pyz
*.toc
*.pyc
*.pkg
*.zip
*.exe
*.spec
*.vsidx
*.vsidx
*.json
*.json
.vs/GARC (De)Extractor/v17/.suo
.vs/GARC (De)Extractor/FileContentIndex/05e98953-1762-48b5-be1c-f841ce962990.vsidx
